# Configuração da API
# Em desenvolvimento, use o endereço local
VITE_API_URL=http://localhost:5000

# Em produção, descomente e configure a linha abaixo com o URL da sua API
# VITE_API_URL=https://api.ripiiaia.org
